%% vim: set filetype=erlang :

{sys,
	[
		{lib_dirs, ["../apps", "../deps"]},
		{rel, "sws", "1.0",
			[
				kernel,
				stdlib,
				sasl,
				mochiweb,
				webmachine,
				erlydtl,
				sws
			]},
		{rel, "start_clean", "",
			[
				kernel,
				stdlib
			]},
		{boot_rel, "sws"},
		{profile, embedded},
		{excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
		{excl_archive_filters, [".*"]},
		{app, sws, [{incl_cond, include}]},
		{app, sasl, [{incl_cond, include}]}
	]
}.

{overlay,
	[
		{mkdir, "etc"},
		{mkdir, "log/sasl"},
		{mkdir, "www"},
		{mkdir, "www/files"},
		{mkdir, "www/lib"},
		{mkdir, "www/misc"},
		{mkdir, "www/pages"},
		{mkdir, "www/templates"},
		{copy, "files/app.config", "etc/app.config"},
		{copy, "files/sws", "bin/sws"},
		{copy, "files/dispatch.conf", "etc/dispatch.conf"},
		{copy, "files/erl", "{{erts_vsn}}/bin/erl"},
		{copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool" },
		{copy, "files/vm.args", "etc/vm.args"}
	]
}.
