%% vim: set filetype=erlang :

[
	%% SWS config
	{sws,
		[
			{ip, "127.0.0.1"},
			{port, 8000},
			{dispatch_conf_path, "etc/dispatch.conf"},
			{www_root_path, "www"},
			{log_dir_path, "log"},
			{page_expire_time, 3600},			% 1 hour
			{file_expire_time, 86400},		% 24 hours
			{lib_expire_time, 3600},			% 1 hour
			{misc_expire_time, 2592000}		% 30 days
		]
	},

	%% SASL config
	{sasl,
		[
			{sasl_error_logger, {file, "log/sasl-error.log"}},
			{errlog_type, error},
			{error_logger_mf_dir, "log/sasl"},      % Log directory
			{error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
			{error_logger_mf_maxfiles, 5}           % 5 files max
		]
	}
].

